# Easier navigation: ~ and -
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

# List all files colorized in long format, including dot files
alias la="ls -Gla"

# List only directories
alias lsd='ls -l | grep "^d"'

# Undo a `git push`
alias undopush="git push -f origin HEAD^:master"

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en1"
alias ips="ifconfig -a | perl -nle'/(\d+\.\d+\.\d+\.\d+)/ && print $1'"

# Flush Directory Service cache
alias flush="dscacheutil -flushcache"

# View HTTP traffic
alias sniff="sudo ngrep -d 'en1' -t '^(GET|POST) ' 'tcp and port 80'"
alias httpdump="sudo tcpdump -i en1 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""

# Start an HTTP server from a directory
alias server="open http://localhost:8080/ && python -m SimpleHTTPServer 8080"

# Trim new lines and copy to clipboard
alias c="tr -d '\n' | pbcopy"

# Shortcuts
alias p="cd ~/projects"
alias v="vim"
alias e="$HOME/.emacs.sh"
alias gda="gdb --args"
alias make_db="make RM=true"
alias make_petsc="make -j4 -C \$PETSC_DIR/\$PETSC_ARCH"
alias s="perl -pi -e"
alias l="lynx --lss=~/.lynx.lss"
alias a="aquamacs"

# File size
alias fs="stat -f \"%z bytes\""

# ROT13-encode text. Works for decoding, too! ;)
alias rot13='tr a-zA-Z n-za-mN-ZA-M'

# Disable Spotlight
alias spotoff="sudo mdutil -a -i off"
# Enable Spotlight
alias spoton="sudo mdutil -a -i on"

# One of @janmoesen’s ProTip™s
for method in GET HEAD POST PUT DELETE TRACE OPTIONS; do alias "$method"="lwp-request -m '$method'"; done

# Stuff I never really use but cannot delete either because of http://xkcd.com/530/
alias stfu="osascript -e 'set volume output muted true'"
alias pumpitup="osascript -e 'set volume 10'"
alias hax="growlnotify -a 'Activity Monitor' 'System error' -m 'WTF R U DOIN'"

##
# PETSc commands
##

alias pd="echo \$PETSC_DIR"
alias pdset="export PETSC_DIR=\$PWD"
alias pa="echo \$PETSC_ARCH"
alias pa-sieve="export PETSC_ARCH=arch-sieve"
alias pa-cxx="export PETSC_ARCH=arch-cxx"
alias pa-c="export PETSC_ARCH=arch-c"
alias pa-c-64="export PETSC_ARCH=arch-c-64"
alias pa-complex="export PETSC_ARCH=arch-c-complex"
alias pa-fast-c="export PETSC_ARCH=arch-fast-c"
alias pa-matlab="export PETSC_ARCH=arch-matlab"
alias pa-cuda="export PETSC_ARCH=arch-cuda"
alias pa-intel="export PETSC_ARCH=arch-intel"
alias pa-pgi="export PETSC_ARCH=arch-pgi"
alias pa-opt="export PETSC_ARCH=arch-c-opt"
alias pa-debug="export PETSC_ARCH=arch-linux2-c-gcc-debug"
alias pa-opt-intel="export PETSC_ARCH=arch-c-intel-opt"
alias pa-debug-intel="export PETSC_ARCH=arch-linux2-c-intel-debug"
alias ts="cd \$PETSC_DIR/src/ts/examples/tutorials"
alias snes="cd \$PETSC_DIR/src/snes/examples/tutorials"
alias ksp="cd \$PETSC_DIR/src/ksp/ksp/examples/tutorials"
alias vec="cd \$PETSC_DIR/src/vec/vec/examples/tutorials"
alias mat="cd \$PETSC_DIR/src/mat/examples/tutorials"
alias sys="cd \$PETSC_DIR/src/sys/examples/tutorials"
alias dm="cd \$PETSC_DIR/src/dm/examples/tutorials"
alias petsc-3.1="export PETSC_DIR=\$PROJECTS/petsc/petsc-3.1;export PETSC_ARCH=darwin10.7.0-cxx-debug"
alias petsc-dev="export PETSC_DIR=\$PROJECTS/petsc/petsc-dev;export PETSC_ARCH=darwin10.7.0-cxx-debug"
alias petsc-port="export PETSC_DIR=/opt/local;export PETSC_ARCH="

##
# Directory shortcuts
##

alias hw="cd ~/projects/class/2011-fall"
alias projects="cd \$PROJECTS"
alias sb="cd \$PROJECTS/sandbox"
alias sp="cd \$PROJECTS/scienceports"
alias fb="cd \$PROJECTS/aperture/fb-aperture-dev"
alias cv="cd \/Users/sean/projects/cvitae"
alias talks="cd \$PROJECTS/talks"
alias bout="cd \$PROJECTS/bout/bout-dev"
alias gonzo="cd \$PROJECTS/gonzo"
alias proposals="cd \$PROJECTS/proposals"
alias hpc="cd /opt/hpc"
alias petsc="cd \$PETSC_DIR"
alias facets="cd \$FACETS"
alias research="cd \$RESEARCH"
alias dg="cd \$RESEARCH/dg/localdg"
alias mc="cd \$PROJECTS/mercurial"
alias bim="cd \$RESEARCH/bim-dynamic"

##
# SSH tunnels
##

alias proxy-anl="ssh -q -C -N -D 9997 login.mcs.anl.gov -L3389:kronosts.it.anl.gov:3389"
alias proxy-iit="ssh -q -C -N -D 9998 laplace.math.iit.edu"
alias proxy-home="ssh -q -C -N -D 9999 home.seanfarley.org"
alias ipython="ipython --no-confirm-exit --no-banner"

alias ls='ls --color=auto'
alias dir='ls --color=auto --format=vertical'
alias vdir='ls --color=auto --format=long'

alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'
alias g='grep'

if [[ -s $(which watchmedo-2.7 2>/dev/null) ]]; then
  alias watchmedo='watchmedo-2.7'
fi

if [[ -s $(which pss-2.7 2>/dev/null) ]]; then
  alias pss='pss-2.7'
fi
