# Easier navigation: ~ and -
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

# List all files colorized in long format, including dot files
alias la="ls -Gla"

# List only directories
alias lsd='ls -l | grep "^d"'

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en1"
alias ips="ifconfig -a | perl -nle'/(\d+\.\d+\.\d+\.\d+)/ && print $1'"

# Flush Directory Service cache
alias flush="dscacheutil -flushcache"

# View HTTP traffic
alias sniff="sudo ngrep -d 'en1' -t '^(GET|POST) ' 'tcp and port 80'"
alias httpdump="sudo tcpdump -i en1 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""

# Start an HTTP server from a directory
alias server="open http://localhost:8080/ && python -m SimpleHTTPServer 8080"

# Trim new lines and copy to clipboard
alias c="tr -d '\n' | pbcopy"

# Shortcuts
alias e="$HOME/.emacs.sh -n"
alias gda="gdb --args"
alias s="perl -pi -e"
alias l="less"
alias h="hg"
alias lhg="$HOME/projects/hg/hg"

# File size
alias fs="stat -f \"%z bytes\""

# ROT13-encode text. Works for decoding, too! ;)
alias rot13='tr a-zA-Z n-za-mN-ZA-M'

# Disable Spotlight
alias spotoff="sudo mdutil -a -i off"
# Enable Spotlight
alias spoton="sudo mdutil -a -i on"

# One of @janmoesen’s ProTip™s
for method in GET HEAD POST PUT DELETE TRACE OPTIONS; do alias "$method"="lwp-request -m '$method'"; done

# Stuff I never really use but cannot delete either because of http://xkcd.com/530/
alias stfu="osascript -e 'set volume output muted true'"
alias pumpitup="osascript -e 'set volume 10'"
alias hax="growlnotify -a 'Activity Monitor' 'System error' -m 'WTF R U DOIN'"

##
# PETSc commands
##

alias ts="cd \$PROJECTS/petsc-dev/src/ts/examples/tutorials"
alias snes="cd \$PROJECTS/petsc-dev/src/snes/examples/tutorials"
alias ksp="cd \$PROJECTS/petsc-dev/src/ksp/ksp/examples/tutorials"
alias vec="cd \$PROJECTS/petsc-dev/src/vec/vec/examples/tutorials"
alias mat="cd \$PROJECTS/petsc-dev/src/mat/examples/tutorials"
alias sys="cd \$PROJECTS/petsc-dev/src/sys/examples/tutorials"
alias dm="cd \$PROJECTS/petsc-dev/src/dm/examples/tutorials"
alias pb="make -j4 -C \$PETSC_DIR/\$PETSC_ARCH"

##
# SSH tunnels
##

[ -n "$(ls --version 2>/dev/null)" ] && alias ls='ls --color=auto'
alias dir='ls --color=auto --format=vertical'
alias vdir='ls --color=auto --format=long'

if [ "$(echo test | grep --color=auto te 2>/dev/null)" == "te" ];then
   alias grep='grep --color=auto'
   alias fgrep='fgrep --color=auto'
   alias egrep='egrep --color=auto'
fi
alias g='grep -i'

if [ -s "$(which chg 2>/dev/null)" ]; then
  alias hg=chg
fi
