# Make vim the default editor
export EDITOR="vim"
# Don't clear the screen after quitting a manual page
export MANPAGER="less -X"
export HGRCPATH="$HOME/.hgrc"

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE

export PROJECTS=$HOME/projects
export SANDBOX=$PROJECTS/sandbox
export RESEARCH=$PROJECTS/research

export PETSC_DIR=$PROJECTS/petsc/petsc-dev
export PETSC_ARCH=arch-c
##
# Paths, environment variables
##

if [ -d /Applications/MATLAB_R2011a.app/bin/maci64 ]; then
  # Needed for arch-matlab
  export DYLD_FALLBACK_LIBRARY_PATH=/Applications/MATLAB_R2011a.app/bin/maci64:/Applications/MATLAB_R2011a.app/sys/os/maci64:$DYLD_FALLBACK_LIBRARY_PATH
  export COPYFILE_DISABLE=true
fi

if [ -d /opt/local ]; then
  export PATH=/opt/local/bin:/opt/local/sbin:/opt/local/libexec/gnubin:$PATH
  export MP=/opt/local/var/macports/sources/rsync.macports.org/release/tarballs/ports
fi

if [ -d $HOME/local/bin ]; then
  export PATH=$HOME/local/bin:$PATH
fi

if [ -d /usr/local/cuda ]; then
  export PATH=/usr/local/cuda/bin:$PATH
fi

if [ -d /share/apps/petsc-dev ]; then
  export PETSC_DIR=/share/apps/petsc-dev
  export PETSC_ARCH=arch-linux2-c-gcc-debug
fi

if [ -d $HOME/local/lib/python2.6 ]; then
  export PYTHONPATH=$HOME/local/lib/python2.6/site-packages:$HOME/local/lib/python2.6:$PYTHONPATH
fi

if [ -d $HOME/local/lib/python2.7 ]; then
  export PYTHONPATH=$HOME/local/lib/python2.7/site-packages:$HOME/local/lib/python2.7:$PYTHONPATH
fi

