{{ if eq .chezmoi.os "darwin" -}}
{{-  $gotroot := output "sh" "-c" "sudo -vn 2>&1 && echo password || true" | regexMatch "password" }}
{{-  if $gotroot -}}
#!/usr/bin/env bash

[[ "$(bw config server)" == *"bitwarden.farley.io"* ]] || bw config server "https://bitwarden.farley.io"

bw login --check &> /dev/null || bw login sean@farley.io "$(/usr/bin/security find-internet-password -w -a sean@farley.io -s bitwarden.farley.io)"

{{   end -}}
{{ end -}}
